/* Carousel css and card css*/

.carousel-inner {
    max-width: 300px; /* Adjust the width as needed */
    margin: auto; /* This centers the carousel if the container is bigger */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    color: #fff;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to cards */
}

.card-title {
    color: #007bff;
}

/*Changing some attributes (colors, margin, spacing, e.t.c.) of some assets - Panussis */

.body{
    z-index: -2;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    object-fit: contain;
}
  
.navbar {
    background-color: rgb(236, 148, 66);
    z-index: -1;
}

.navbar-toggler{
    background-color: rgb(204, 105, 110);
    color:#fff;
}

.nav-item {
    border-radius: 5px;
    background-color: rgb(204, 105, 110);
    margin: auto 20px auto 20px;
}

.nav-link {
    border-width: 20px;
    border-color: rgb(50, 87, 75);
    border-left-width: 20px;
    border-right-width: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: large;
    color:#a6dbd7;
}
